fastapi
uvicorn
pydantic
langchain
langchain-core
langchain-google-genai
google-cloud-speech
google-cloud-texttospeech
chromadb
scikit-learn
python-dotenv
google-generativeai
beautifulsoup4
requests
langchain-google-vertexai
langchain-community
